.header_content {
  font-family: monospace;
  width: 100%;
  height: 10%;

  /*margin-top: 12px;*/
  padding-top: 24px;
  /*padding-bottom: 24px;*/
  margin-bottom: 24px;
  /*position: fixed;*/
  /*display: flex;*/
  /*justify-content: space-evenly;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*background-color: white;*/
  border-top: black 1px solid;
}

.header_content div {
  color: black;
  font-size: 22px;
}

.header_content :hover {
  color: darkred;
}

.variant-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
