<!--<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand">Lab 4</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="/login" class="nav-link" aria-current="page">Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="/registration" class="nav-link">Registration</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-white header_content">
  <div><a routerLink="" class="nav-link" aria-current="page" (click)="logout()">Logout</a></div>
<!--  <div><a routerLink="/registration" class="nav-link" aria-current="page">Registration</a></div>-->
</nav>
