<div class="header_content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div>Stukov Egor Aleksandrovich<br/>
          Antonov Vsevolod Vladimirovich
        </div>
      </div>
      <div class="col-sm-4">
        <div class="variant-container">
          <div>P3232<br/>P3233</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="variant-container">
          <div>34603</div>
        </div>
      </div>
    </div>
  </div>
</div>
