<main class="form-signin">
  <app-clock></app-clock>
  <form [formGroup]="loginForm">
    <h1 class="h3 mb-3 fw-normal">Please log in or sign up</h1>

    <div class="form-floating">
      <input formControlName="loginEntry" name="login" type="email" class="form-control" id="floatingInput">
      <label for="floatingInput">Login</label>
    </div>
    <div class="form-floating">
      <input formControlName="passwordEntry" name="password" type="password" class="form-control" id="floatingPassword">
      <label for="floatingPassword">Password</label>
    </div>

    <button style="margin-bottom: 6px" (click)="submit('login')" class="w-100 btn btn-lg btn-primary">Log in</button>
    <button (click)="submit('reg')" class="w-100 btn btn-lg btn-primary">Sign up</button>
  </form>
  <div class="alert alert-danger"
       *ngIf="!validInput">
    {{alertMsg}}
  </div>
</main>
